﻿@model  FizzBuzzApp.Models.FizzBuzzModel
@using PagedList.Mvc
@{
    ViewBag.Title = "FizzBuzz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron">
    <h1>FizzBuzz</h1>
</div>
<div class="col-sm-2">
    @Html.ActionLink("Back to FizzBuzz", "Index")
</div>
<br />
<table class="pagination-container1">
    <tr>
        <th class="table-header">
            <label>Result</label>
        </th>
    </tr>
    @foreach (var number in Model.FizzBuzzNumbers)
    {
        <tr>
            
            <td class="number-to-lower @Html.Raw(number)">
                @Html.Raw(number)
            </td>
            
        </tr>
    }
</table>
<div class="row">
    <span class="alertmsg col-sm-2">@ViewBag.errorMsg</span>
</div>
<div id='Paging' class="pagination-container">
    Page @(Model.FizzBuzzNumbers.PageCount < Model.FizzBuzzNumbers.PageNumber ? 0 : Model.FizzBuzzNumbers.PageNumber) of @Model.FizzBuzzNumbers.PageCount
    @Html.PagedListPager(Model.FizzBuzzNumbers, page => Url.Action("FizzBuzz", new { value = Model.Number, Page = page }))
</div>
