﻿@model  FizzBuzzApp.Models.FizzBuzzModel
@{
    ViewBag.Title = "FizzBuzz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron">
    <h1>FizzBuzz</h1>
</div>
<form action="~/Home/Index" method="POST">
    <div class="=row mrgb">
        <div class="input left enterbox">
            <label class="col-sm-2">Enter the number</label>
            @Html.TextBoxFor(fizz => fizz.Number, new { @class = "col-xs-6 col-sm-4 col-md-2 mbl" })
            @Html.ValidationMessageFor(fizz => fizz.Number, null, new { @class = "form-control", data_val = "true", data_val_number = "The field Value must be a number.", data_val_range = "The field Value must be between 1 and 1000.", data_val_range_max = "1000", data_val_range_min = "1", @data_val_required = "The Value field is required." })
        </div>
        <div class="btn-getresult">
            <input type="submit" class="btn btn-default" value="Get Result" />
        </div>
    </div>
</form>