﻿

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 0;
    padding-right: 0;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 200px;
}


/* styles for validation helpers */
.form-control.field-validation-error {
    color: #b94a48;
    box-shadow: none;
    border: none;
    display: inline-block;
    width: auto;
    font-size: 15px;
    padding: 0 0 0 5px;
    margin: 0;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

.number-to-lower {
    border: 1px solid black;
    text-align: center;
    word-wrap: break-word;
}
select.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.Fizz {
    color: blue;
}

.Buzz {
    color: green;
}

.btn-getresult {
    clear: both;
    margin: 0 0 0 50%;
}

@media(min-width: 767px) {
    .btn-getresult {
        margin: 0 0 0 33%;
    }
}

@media(min-width: 990px) {
    .btn-getresult {
        margin: 0 0 0 17%;
    }
}

.mbl {
    margin-bottom: 15px;
}

.table-border {
    border: 1px solid black;
    text-align: center;
    word-wrap: break-word;
}

.table-header {
    border: 2px solid black;
    text-align: center;
    width: 25%;
}
#footer {
    position: fixed;
    height: 50px;
    bottom: 0;
    left: 0;
    right: 0;
}
.mrgb {
    margin-bottom: 400px;
}
.alertmsg {
    margin-left: 12px;
    color:red;
}


